/* Navagation bar */

.navbar-default {
  background-color: #ffffff;
}

#color {
  color: #292828;
}

.navbar a {
  font-size: 18px;
  padding-left: 10px;
  font-weight: normal;
}

.navbar-default .navbar-nav > li > a:hover {
 color: #787777;
}

.navbar-default .navbar-nav > li > a {
  font-size: 15px;
  color: #292828;
  padding-left: 25px;
}

.navbar-default .navbar-toggle {
  border-color: #292828;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #292828;
}


/* Large sections */
#greeting_background {
  background-image: url("../img/closed_mac.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: #ffffff;
  padding-top: 60px;
  padding-bottom: 0px;
  margin-bottom: 0px;
  min-height: 400px;
}

.jumbotron {
  text-align: center;
  padding-top: 0px;
  background-color: #ffffff;
}

.jumbotron .container {
  position: relative;
  top: 15px;
}

.jumbotron h1 {
  font-size: 75px;
  color: #ffffff;
}


/* About me section */

img.resize {
  width: 400px;
  height: auto;
}

.jumbotron h2 {
  color: #787777;
  font-size: 40px;
}

#extra-padding {
  padding-top: 45px;
}

.about p{
  text-align: left;
}


/* Footer */

hr {
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-width: 1px;
  border-style: inset;
}

.small {
  max-width: 200px;
  margin: 15px auto;
  border-width: 1px;
  border-color: #dbdbdb;
  border-style: solid;
}

.fa.fa-circle.fa-stack-2x {
  color: #292828;
}

.fa-stack.fa-2x:hover .fa-circle {
  color: #787777;
}

#copyright{
  text-align: center;
}

/* Mobile */

@media (max-width: 767px) {
  .navbar-default .navbar-nav > li > a {
    color: #000000;
  }
  .jumbotron h1 {
    font-size: 55px;
  }
  .jumbotron p, p {
    font-size: 20px;
  }
  #smaller-height {
    height: 2%;
  }
  .about .jumbotron {
    padding-top: 0px;
    margin-top: 0px;
  }
  img.resize {
    width: 350px;
    height: auto;
  }
  .jumbotron h2 {
    font-size: 25px;
  }
  #extra-padding {
    padding-top: 20px;
  }
  #copyright{
    font-size: 14px;
  }
}
