/* Navagation bar */

.nav {
  padding-top: 10px;
}

.nav a {
  color: #292828;
  font-size: 15px;
  padding: 15px 10px;
  font-weight: bold;
}

#extra-large {
  font-size: 17px;
}

.nav li {
  display: inline;
}


/* Large sections */

.jumbotron {
  text-align: center;
  height: 200px;
  background-color: #ffffff;
}

.jumbotron .container {
  position: relative;
  top: 15px;
}

.jumbotron h1 {
  font-size: 75px;
  color: #292828;
}


/* About me section */

.about {
  height: 500px;
}

img.resize {
  width: 400px;
  height: auto;
}

.jumbotron h2 {
  color: #787777;
  font-size: 40px;
}

#extra-padding {
  padding-top: 45px;
}


/* Footer */

hr {
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 1px;
}

.bottom {
  padding: 15px 10px;
}

.fa.fa-circle.fa-stack-2x {
  color: #292828;
}
