/* Navagation bar */

.navbar-default {
  background-color: #ffffff;
}

#color {
  color: #292828;
}

.navbar a {
  font-size: 18px;
  padding-left: 10px;
  font-weight: normal;
}

.navbar-default .navbar-nav > li > a {
  font-size: 15px;
  color: #292828;
  padding-left: 25px;
}

.navbar-default .navbar-toggle {
  border-color: #292828;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #292828;
}


/* Large sections */

.jumbotron {
  text-align: center;
  background-color: #ffffff;
}

.jumbotron .container {
  position: relative;
  top: 15px;
}

.jumbotron h1 {
  font-size: 75px;
  color: #292828;
}


/*content*/

.content-font {
  margin-bottom: 2px;
  font-size: 18px;
  font-weight: 200;
}


/* Footer */

hr {
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-width: 1px;
  border-style: inset;
}

.fa.fa-circle.fa-stack-2x {
  color: #292828;
}

.fa-stack.fa-2x:hover .fa-circle {
  color: #787777;
}


/* Media */

@media (max-width:767px) {
  .navbar-default .navbar-nav > li > a {
    color: #000000;
  }
  .jumbotron h1 {
    font-size: 35px;
  }
  .jumbotron h2 {
    font-size: 25px;
  }
  .jumbotron p {
    font-size: 15px;
  }
}
